body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.wrapper {
  height:max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./bg.jpg");
  background-size: 100%;
  background-position: top center;
  
}


.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  color: #fff;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: silver;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2{
  text-align: center;
  color:silver;
}
label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color:silver;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

textarea {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

textarea::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

.start {
  margin-right: 1%;
}

.end {
  margin-left: 1%;
}

.title,
.start,
.end,
.email {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.start,
.end {
  width: 49%;
}

.email,
.checkbox,
.title,
.location {
  width: 100%;
  padding: 10px 0px;
}

.locationSelect{
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;

}

.createEvent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createEvent button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createEvent button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createEvent button:disabled {
  color: darkgray;
  background-color: #fff;
  border: 2px solid black;
}

.createEvent small {
  color: #999;
  font-weight: lighter;
}
div.event{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  color: #fff;
}
table , tr,th,td{
  margin: auto;
  border: 1px solid silver;
  height: max-content;
  width: max-content;
  padding: 5px;
}
